body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url("c:\Users\faraz\OneDrive\Desktop\images\website images\blue-burst-abstract-bg.png");
    background-size: cover;
    color:black;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
   font-style:italic;
}
button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}